p{
  background-color: gray;
}
.p-pertama{
  background-color: orange;
}
.p-kedua{
  background-color: blue;
  color: white;
}
.p-ketiga{
  background-color: white;
  font-family: monospace;
  font-size: 20px;
}.p-empat{
  font-weight: bold;
  font-size: 20px;
}
